// Font \\
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

// Variables \\
$textColor: #bbbbbb;
$website_backgroundColor: #1c1c1c;
$scrollbarColor: #1a2027;
$scrollbarThumbColor: #8B97A2;


body{
    margin: 0;
    cursor: default;
    font-family: 'Quicksand', sans-serif;
    background-color: $website_backgroundColor;
}

::-webkit-scrollbar{
    width: 2px;
    height: 2px;
    background-color: $scrollbarColor;
}
::-webkit-scrollbar-thumb{
    background-color: $scrollbarThumbColor;
}